@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}
div {
    background-color: maroon;
}
.navbar ul {
    list-style: none;
    width: 500px;
    margin: 0 auto;
    padding: 0;
    background-color: maroon;
    text-align: center;
}

.navbar li {
    width: 150 px;
    background-color: darkgrey;
    border: 1px solid darkgrey;
    padding: 10px;
    display: inline-block;
    line-height: 40px;
}

.navbar a {
    color:black;
    text-decoration: none;
}
iframe {
    width:100%;
    height:100%;
    border: dotted;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: maroon;
  }

.flex-container > div {
    background-color: darkgrey;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
